/* CSS for website */

.markdown-section {
    color: white;
}

.markdown-section code { padding: .2em; 
margin: 0; 
font-size: .85em; 
background-color: #8a8686;}


.markdown-section table td,.markdown-section table th {

padding: 6px 13px;

border: 1px solid #ddd;

color: #272a3a;

}
