/* CSS for website */

 .book-body {
  background-color: #4c4c4e;
}

.markdown-section {
    color: white;
}

.markdown-section code { padding: .2em; margin: 0; font-size: .85em; background-color: black;} !


.markdown-section table {
 background-color: grey;
}!